#im{
    width: 100%;
    height: 555px;
    object-fit: cover;
}
#container{
    position: relative;
    height: 300px;
}
#vertical-line{
    position: absolute;
    left: 50%;
    /* top: 10; */
    height: 6.5%;
    width: 1.5px;
    background-color: orange;
    transform: translateX(-50%);
}
#tick-list{
    list-style:"✔️";
}
body{
    background-color: rgb(255, 251, 242);
}
i{
    background-color: orange;
    border-radius: 50%;
}
.triple-bg{
    background-image: 
    url(../img/overlay-top.png),
    url(../img/bg.jpg),
    url(../img/overlay-bottom.png);

    background-position: top center ,center center ,bottom center;
    background-size: contain, cover, contain;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 50vh;
}
#back{
    backdrop-filter: blur(3px);
    background-color: rgb(31,32,30,0.7);
    border-radius: 8px;
    padding: 20px;
    
}
#bakgrnd{
    background-image: 
    url(../img/overlay-top.png),
    url(../img/bg-2.jpg),
    url(../img/overlay-bottom.png);

    background-position: top center ,center center ,bottom center;
    background-size: contain, cover, contain;
    background-repeat: no-repeat, no-repeat, no-repeat;

}
#baak{
    backdrop-filter: blur(3px);
    background-color: rgb(31,32,30,0.7);
    border-radius: 8px;
}
#borde{
    border: 1px solid white;
    padding: 8px;
}
#borde:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}
div a{
    text-decoration:none;
    color: orange;
}
a:hover{
    color: rgb(218, 145, 11);
    text-decoration: underline;
}